<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <a href="#">
            <img src="./assets/img/logo.png" alt="" class="web-logo">
          </a>
        </div>
        <p class="sologan"><b>CÔNG TY CP VẬT TƯ THIẾT BỊ VĂN HÓA CEMCO.,JSC</b></p>
        <ul class="f-addr-info">
          <li>
            <i class="fa-solid fa-building"></i>
            <span>VP Hà Nội: 67 Trần Hưng Đạo, Quận Hoàn Kiếm, TP. Hà Nội</span>
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            <span>VP Hồ Chí Minh: 125/43 Đường D1, phường 25, Quận Bình Thạnh, TP.Hồ Chí Minh</span>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <span>0296 888 68 69</span>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <span>info@viewsonic.com.vn</span>
          </li>
          <li>
            <p class="follow-icon">
              <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5 class="info-title">Đăng ký nhận tư vấn</h5>
        <form action="">
          <div class="form-field-set">
            <fieldset>
              <legend>Họ và tên <label class="lbl-red">*</label></legend>
              <input type="text" id="fname" name="fname">
            </fieldset>
          </div>
          <div class="form-field-set">
            <fieldset>
              <legend>Email <label class="lbl-red">*</label></legend>
              <input type="text" id="fname" name="fname">
            </fieldset>
          </div>
          <div class="form-field-set">
            <fieldset>
              <legend>Số điện thoại <label class="lbl-red">*</label></legend>
              <input type="text" id="fname" name="fname">
            </fieldset>
          </div>
          <div class="form-field-set">
            <fieldset>
              <legend>Công ty <label class="lbl-red">*</label></legend>
              <input type="text" id="fname" name="fname">
            </fieldset>
          </div>
          <button class="button-red">Gửi</button>
        </form>
      </div>
    </div>
    <hr />
    <p class="foot-des">© 2023 Bản quyền thuộc về Công ty CP Vật tư Thiết bị Văn hoá CEMCO.,JSC</p>
  </div>
</footer>