<header>
  <div class="container">
    <div class="pos-f-t">
      <nav class="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <svg focusable="false" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M4 7h22M4 15h22M4 23h22" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2"></path>
          </svg>
        </button>
        <a href="#" class="logo-mb">
          <img src="./assets/img/logo.png" alt="" class="web-logo">
        </a>
      </nav>
    </div>
    <div class="collapse menu-web" id="navbarToggleExternalContent">
      <nav class="row align-items-center">
        <div class="logo col-md-2">
          <a href="#">
            <img src="./assets/img/logo.png" alt="" class="web-logo">
          </a>
        </div>
        <div class="col-md-10 clearfix">
          <ul>
            <li class="menu-item-has-children">
              <!-- <a href="#" data-toggle="collapse" data-target="#collapseMobile1" aria-expanded="true"></a> -->
              <!-- <a href="#" data-toggle="collapse" aria-expanded="true" data-target="#collapseMenuItem0">Sản Phẩm 1</a> -->
              <a href="#">Sản Phẩm 1</a>
              <i class="fa-solid fa-caret-down"></i>
                <ul class="sub-menu">
                  <li class="menu-item-has-children">
                    <a href="#">DirectView</a>
                    <i class="fa-solid fa-caret-down"></i>
                    <ul class="sub-menu collapse">
                      <li><a href="#">Sản phẩm 1</a></li>
                      <li><a href="#">Sản Phẩm 2</a></li>
                      <li><a href="#">Sản Phẩm 3</a></li>
                      <li><a href="#">Sản Phẩm 4</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Presentation</a></li>
                </ul>
            </li>
            <li>
              <a href="#">Giải pháp</a>
            </li>
            <li>
              <a href="#">Chính sách bảo hành</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Case study</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
            <li>
              <div class="dropdown language">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="flag-icon"> <img class="d-block w-100" src="./assets/img/vn_ico.png" alt="First slide"></i>
                  <span>VNI</span>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  </div>
</header>