body {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    color: #3b3b53;
    background-color: $body-color;
    height: 100%;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  a {
    &:focus {
      outline: none;
    }
  }
  img{
    max-width: 100%;
  }
.clearfix{
    &::after {
        display: block;
        content: "";
        clear: both;
      }
}
.btn-black{
    color: #000;
    border:1px solid #000;
    padding: 10px 30px;
    display: inline-block;
    @include device-1(){
      padding:5px 15px;
    }
    &:hover{
      background-color: #CB2B5C;
      border-color: #CB2B5C;
      color:#fff;
      text-decoration: none;
    }
}
.carousel-indicators{
    align-items: center;
    li{
        width: 8px;
        height: 8px;
        background-color: #637381;
        box-sizing: border-box;
        background-clip: unset;
        border:0;
        opacity: 1;

        &.active{
            width:16px;
            height:16px;
            border:2px solid #637381;
            background-color: transparent;
        }
    }
}
.sec-title{
    font-size: 30px;
    color: #000;
    margin-bottom: 38px;
    text-align: center;
    font-weight: 500;
    @include device-1(){
      font-size: 22px;
      margin: 15px 0;
    }
    &.md-size{
        font-size: 30px;
        margin-bottom: 15px;
        @include device-1(){
          font-size: 22px;
        }
    }
}
.pos-relative{
    position: relative;
}
fieldset{
    border-width: 2px;
    border-style: groove;
    border-color: #EBEDF2;
}
.align-center{
    justify-content: center;
}
.web-logo{
  width: 120px;
}
.tooltip{
  font-family: $font-family;
  filter: drop-shadow(0px 0px 2px rgba(145, 158, 171, 0.2));
  &.show{
    opacity: 1;
  }
  .tooltip-inner{
    max-width: none;
    background-color: #fff;
    padding: 0;
  }
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before{
  border-top-color: #fff;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before{
  border-bottom-color: #fff;
}
.gray-bg{
  background-color: #F5F6F9 !important;
}
.post-detail{
  background-color: #fff;
  margin-bottom: 40px;
}
h3, .h3{
  font-size: 30px;
}
.text-left{
  .sec-title{
    text-align: left;
  }
}
@include device-1(){
  footer{
    padding:0 15px;
  }
  section{
    padding: 30px 15px !important;
  }
  .container{
    padding:0;
  }
  .sec-title{
    text-align: left;
  }
}
main{
  padding-top: 120px;
}